.m-footer {
  font-size: $small;
  padding: 0.5em 1em 1.5em 1em;
  @include borderRadius($smaller);
  // background-color: $primary;
  // background-image: url(seattle.jpg);
  // background-blend-mode: multiply;
  // background-size: 100%;
  // background-position: center;
  @include multiplyRed('../img/seattle.jpg');
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
}

.m-footer-image {
  padding-top: $smaller;
  width: $huge;
}

.m-footer-location {
  font-family: 'Aller', sans-serif;
  color: $lightOnDark;
  display: inline-block;
  padding-left: 0;

  text-align:left;
}
