// Converts pixels to ems
@function em($target, $context: $default-font-size) {
  @return $target / $context * 1em;
}

$default-font-size: 12;
$base-font-size: 16;

/* Type Size Variables
****************************/

$tiny: 0.381rem;
$smaller: 0.618rem;
$small: 1rem;
$normal: 1.618rem;
$large: 2.618rem;
$huge: 4.236rem;
$gigantic: 6.854rem;


