/* Type Size Variables
****************************/
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: 'Aller', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
Typography
========================================================================== */
/*=Fonts=*/
/*Aller*/
@font-face {
  font-family: 'Aller';
  src: url("fonts/Aller/Aller_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aller';
  src: url("fonts/Aller/Aller_Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
/*artifika*/
@font-face {
  font-family: 'artifika';
  src: url("fonts/artifika/Artifika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: 'artifika', serif;
  font-size: 2.618rem;
  margin: 0.67em 0; }

/* ==========================================================================
Colors
========================================================================== */
a:link {
  color: #999900; }

h1 {
  color: #B80000; }

p {
  color: #66CC00; }

/*==========================================================================
Grid System
==========================================================================*/
/*
Width: 1000px
# Columns : 12
Column width: 65px
Gutter : 20px
*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7,
.grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  width: 100%;
  margin: 0 1% 1% 1%;
  float: left;
  display: block; }

.alpha {
  margin-left: 0px; }

.omega {
  margin-right: 0px; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

/*Main Wrapper*/
.main-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center; }

.m-contact-form--name, .m-contact-form--email, .m-contact-form--comment {
  width: 100%;
  color: #B80000;
  padding: 0.618rem;
  font-size: 1rem;
  border: solid 2px #e6e6e6;
  transition: border 0.3s; }
  .m-contact-form--name:focus, .m-contact-form--email:focus, .m-contact-form--comment:focus {
    outline: 0;
    border: solid 2px #B80000; }

.m-contact-form--btn {
  display: block;
  margin: 0 auto;
  font-family: "Aller";
  font-size: 1rem;
  color: #FFF;
  font-weight: normal;
  -moz-border-radius: 0.618rem;
  -webkit-border-radius: 0.618rem;
  border-radius: 0.618rem;
  border: 0px;
  margin-top: 0.381rem;
  background-color: #B80000;
  transition: background-color 0.3s; }
  .m-contact-form--btn:hover, .m-contact-form--btn:active {
    background-color: #850000; }

.m-contact-form--comment {
  display: block;
  margin: 0 auto;
  height: 200px; }

.m-contact-form {
  width: 100%;
  margin-top: 0.618rem; }

.m-socialmedia {
  width: 2.618rem;
  border-radius: 0.618rem; }

.m-name {
  color: #B80000; }

.m-socialmedia-heading {
  font-size: 1.618rem; }

.m-footer {
  font-size: 1rem;
  padding: 0.5em 1em 1.5em 1em;
  -moz-border-radius: 0.618rem;
  -webkit-border-radius: 0.618rem;
  border-radius: 0.618rem;
  background-color: #B80000;
  background-image: url(seattle.jpg);
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end; }

.m-footer-image {
  padding-top: 0.618rem;
  width: 4.236rem; }

.m-footer-location {
  font-family: 'Aller', sans-serif;
  color: #FFF;
  display: inline-block;
  padding-left: 0;
  text-align: left; }

/* HEADER STYLES*/
.page-heading {
  text-align: center;
  font-size: 1.618rem;
  padding-top: 1.618rem;
  text-transform: uppercase; }

/* NAV STYLES*/
.m-nav {
  text-transform: uppercase;
  padding-top: 1rem;
  line-height: 1.618rem;
  text-align: center; }

.m-navigation-link {
  display: flex; }

.m-navigation-list--link {
  text-decoration: none; }

.m-navigation-list--item {
  font-family: 'Aller', sans-serif;
  flex: 1;
  font-size: 1rem; }

/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/
@media (min-width: 800px) {
  .grid_1 {
    width: 6.5%; }

  .grid_2 {
    width: 15%; }

  .grid_3 {
    width: 23.5%; }

  .grid_4 {
    width: 32%; }

  .grid_5 {
    width: 40.5%; }

  .grid_6 {
    width: 49%; }

  .grid_7 {
    width: 57.5%; }

  .grid_8 {
    width: 66%; }

  .grid_9 {
    width: 74.5%; }

  .grid_10 {
    width: 83%; }

  .grid_11 {
    width: 91.5%; }

  .grid_12 {
    width: 100%; }

  .page-heading {
    text-align: left; }

  .m-navigation-list--item {
    padding: 2em; } }

/*# sourceMappingURL=app.css.map */
