/* HEADER STYLES*/
.page-heading {
  font-size: $normal;
  text-transform: uppercase;
  @include breakpoint {
    text-align: left;
  }
}


//Menu Classes
.m-nav {
  text-transform: uppercase;
}
nav ul {
  display: inline;
  color: $secondary;
  li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      background: $primary;
      color: $lightOnDark;
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
    a {
      color: $lightOnDark;
    }
    ul {
      padding: 0;
      position: absolute;
      top: 48px;
      left: 0;
      width: 150px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: none;
      opacity: 0;
      visibility: hidden;
      -webkit-transiton: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -transition: opacity 0.2s;
      li {
        background: $primary;
        display: block;
        color: $accent1;
        &:hover {
          background: lighten($primary, 10%);
        }
      }
    }

  }
}