//Define all variables here!

//Color
$primary: #B80000;
$secondary: #999900;
$accent1: #66CC00;
$lightOnDark: #FFF;

//Golden Ratio - Sizes
$tiny: 0.381rem;
$smaller: 0.618rem;
$small: 1rem;
$normal: 1.618rem;
$large: 2.618rem;
$huge: 4.236rem;
$gigantic: 6.854rem;

//Grid Variables
$cols : 12; //Sets # of columns
$colWidth: 6.5%; //Sets width of each column
$gutterWidth: 2%; //Sets width of each gutter
