//Define all variables here!

//Color
$primary: #B80000;
$secondary: #999900;
$accent1: #66CC00;
$lightOnDark: #FFF;

$linkColor: $secondary;
$headingColor: $primary;
$pColor: $accent1;

//Golden Ratio - Sizes
$tiny: 0.381rem;
$smaller: 0.618rem;
$small: 1rem;
$normal: 1.618rem;
$large: 2.618rem;
$huge: 4.236rem;
$gigantic: 6.854rem;

$largeScreen : 'screen and (min-width:800px)';
