@mixin fontSet ($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}
@mixin borderRadius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin multiplyRed($imageUrl) {
  background-color: $primary;
  background-image: url(#{$imageUrl});
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: center;
}

$largeScreen : 'screen and (min-width:800px)';

@mixin breakpoint {
  @media #{$largeScreen} {
    @content;
  }
}
