.m-contact-form--name, .m-contact-form--email {
  width: 100%;
}

.m-contact-form--btn {
  display: block;
  margin: 0 auto;
}

.m-contact-form--comment {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.m-contact-form {
  width: 100%;
}


